<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0,
            shrink-to-fit=no">
        <title>form</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Engagement">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Poppins">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="/form/Footer-Basic.css">
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    </head>

    <body style="background-color: rgb(117,112,255);">
        <!-- Start: Navigation -->
        <nav class="navbar navbar-light navbar-expand-md"
            style="background-color: #171837;">
            <div class="container-fluid"><a class="navbar-brand" href="#"
                    style="font-family: Engagement, cursive;font-size:
                    33px;color: rgba(255,255,255,0.9);"><strong>Profilly</strong></a><button
                    data-toggle="collapse" class="navbar-toggler"
                    data-target="#navcol-1"
                    style="background-color: #ffffff;"><span class="sr-only">Toggle
                        navigation</span><span
                        class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"></li>
                        <li class="nav-item" role="presentation"><a
                                class="nav-link active text-uppercase"
                                data-bs-hover-animate="pulse" href="/logout"
                                style="color: rgba(255,255,255,0.9);font-size:
                                18px;font-family: Montserrat,
                                sans-serif;background-color: rgb(117,112,255);"><strong>LOG
                                    OUT</strong></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- End: Navigation -->
<form action="/users/create" method="POST">
<input type="text" name="name">
<input type="text" name="lastname">
<input type="text" name="othername">
<input type="submit" value="Submit">
</form>
        <!-- Start: Footer Basic -->
        <div class="footer-basic" style="margin-top: 44px;background-color:
            rgb(23,24,55); position:fixed; bottom:0;  width:100%">
            <footer>
                <!-- Start: Social Icons -->
                <div class="social" style="height: 50px;"><a
                        href="https://github.com/BigB97"
                        style="color: rgb(255,255,255);"><i class="icon
                            ion-social-github"
                            style="color: rgb(255,255,255);"></i></a><a
                        href="https://twitter.com/Official_BiggB?s=09"
                        style="color: white;"><i class="icon
                            ion-social-twitter"></i></a>
                    <a href="https://www.facebook.com/bronzebeez" style="color:
                        white;"><i
                            class="icon ion-social-facebook"></i></a>
                </div>
                <!-- End: Social Icons -->
                <!-- Start: Copyright -->
                <p class="copyright" style="font-size: 22px;">BigB © 2020</p>
                <!-- End: Copyright -->
            </footer>
        </div>
        <!-- End: Footer Basic -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
        <script src="/form/bs-init.js"></script>
    </body>

</html>